@CHARSET "UTF-8";

.input-form {
			margin: 0 auto;
			position: relative;
			
			background: #f3f3f3;
			border: 1px solid #fff;
			border-radius: 5px;
			
			padding: 15px 5px 15px 5px;
			text-align: center;
			margin-top: 5px;

			box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			}
			.input-form .header {

							}
			.input-form .header h1 		{
							font-family: Arial, serif;
							font-weight: 600;
							font-size: 28px;
							color: #414848;
							text-shadow: 3px 3px 1px rgba(256,256,256,0.5);
							margin-bottom: 1px;
							margin-top: 0px;
							}
			.input-form .header span	{
							display: block; 
							text-align: center;
							font-size: 11px;
							line-height: 16px;
							color: #678889;
							text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
							margin-bottom: 10px;
							}
			.form-glow 	
					{
						display: block;
						outline: none;
    					border: 1px solid #7bc1f7;
    					box-shadow: 0px 0px 3px #7bc1f7;
    					-moz-box-shadow: 0px 0px 3px #7bc1f7;
    					-webkit-box-shadow: 0px 0px 3px #7bc1f7;
						padding: 15px 5px 15px 5px;
					}
				.form-glow:hover
				{
    						border: 1px solid #7bc1f7;
    						box-shadow: 0px 0px 5px #7bc1f7;
    						-moz-box-shadow: 0px 0px 5px #7bc1f7;
    						-webkit-box-shadow: 0px 0px 5px #7bc1f7;
				}
				.form-glow button 	{
							margin-top: 10px;
						}
				.form-glow button:focus 	{
    						outline: none;
    						border: 1px solid #19FF19;
    						box-shadow: 0px 0px 8px #19FF19;
    						-moz-box-shadow: 0px 0px 8px #19FF19;
    						-webkit-box-shadow: 0px 0px 8px #19FF19;
						}
				.form-glow button:hover 	{
    						outline: none;
    						border: 1px solid #7bc1f7;
    						box-shadow: 0px 0px 8px #7bc1f7;
    						-moz-box-shadow: 0px 0px 8px #7bc1f7;
    						-webkit-box-shadow: 0px 0px 8px #7bc1f7;
						}
				.form-glow input:focus 	{
    						outline: none;
    						border: 1px solid #19FF19;
    						box-shadow: 0px 0px 8px #19FF19;
    						-moz-box-shadow: 0px 0px 8px #19FF19;
    						-webkit-box-shadow: 0px 0px 8px #19FF19;
						}
				.form-glow input:hover 	{
    						outline: none;
    						border: 1px solid #7bc1f7;
    						box-shadow: 0px 0px 8px #7bc1f7;
    						-moz-box-shadow: 0px 0px 8px #7bc1f7;
    						-webkit-box-shadow: 0px 0px 8px #7bc1f7;
						}
				.form-glow label:focus 	{
    						outline: none;
    						border: 1px solid #19FF19;
    						box-shadow: 0px 0px 8px #7bc1f7;
    						-moz-box-shadow: 0px 0px 8px #7bc1f7;
    						-webkit-box-shadow: 0px 0px 8px #7bc1f7;
						}
				.form-glow label:hover 	{
    						outline: none;
    						border: 1px solid #7bc1f7;
    						box-shadow: 0px 0px 8px #7bc1f7;
    						-moz-box-shadow: 0px 0px 8px #7bc1f7;
    						-webkit-box-shadow: 0px 0px 8px #7bc1f7;
						}
				.form-glow a:hover 	{
    						text-shadow: 0px 0px 3px #19FF19;
							cursor:pointer;
							color:#000000;
						}
  .shortcuts {
    border-left: 1px solid #666;
    border-right: 1px solid #666;
  }

  .stackHeader {
    background: #c1eec8 url(gradient.gif) repeat-x 0px -1px;
    padding-top: 1em;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;  
  }
    .scrollable {
      height: 400px;
      width: 250px;
      border: 1px solid #ccc;
      text-align: left;
    }
    
    .contactFormCell {
      padding-left: 20px;
    }
